<section class="news-section py-5">
  <div class="container">
    <div class="row align-items-center align-items-stretch">
      <div class="col-md-5 d-flex flex-column justify-content-center ps-lg-5">
        <h2 class="section-title">Nos<br><b>actualités</b></h2>
        <p>
          <small>
            Alliance Services Propreté est en pleine dynamique, <br>
            avec de nombreuses actualités enrichissant la vie de l’entreprise.
          </small>
        </p>
        <p>
          <small>
            Entre l’acquisition de labels de qualité, la formation continue de nos équipes, 
            les recrutements via le GEIQ et nos initiatives sportives, nous ne cessons d’évoluer. 
            Nous partagerons régulièrement ces moments forts sur notre site internet pour vous tenir 
            informés de nos progrès et de nos engagements.
          </small>
        </p>
        <a routerLink="/news" class="btn btn-news align-self-start">VOIR PLUS</a>
      </div>
      
      <div class="col-md-7 pe-0" *ngIf="latestNews">
        <div class="news-card position-relative text-white">
          <img [src]="latestNews.image" [alt]="latestNews.title" class="img-fluid w-100 rounded">
          <div class="news-overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-end p-4">
            <small class="text-end">{{ latestNews.date }}</small>
            <h4 class="mt-2" [innerHTML]="latestNews.title"></h4>
            <p class="small">{{ latestNews.resume }}</p>
            <a [routerLink]="['/news', latestNews.id]" class="btn btn-read-more align-self-start mt-2">EN LIRE PLUS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>