<footer class="footer">
  <div class="container py-4">
    <div class="row text-white align-items-start pb-3">
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <img src="logo.png" alt="Logo Alliance Services Propreté" class="white-logo mb-2" style="width: 200px;">
        <br>
        <span>Copyright 2025 - Alliance Services Propreté</span>
      </div>
      <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
        <ul class="list-unstyled footer-links">
          <li>QUI SOMMES-NOUS ?</li>
          <li>SERVICES</li>
        </ul>
      </div>
      <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
        <ul class="list-unstyled footer-links">
          <li><a routerLink="/csr" class="footer-link">DÉMARCHES RSE</a></li>
          <li>ACTUALITÉS</li>
        </ul>
      </div>
      <div class="col-md-2 text-center text-md-end">
        <ul class="list-unstyled footer-links">
          <li><a routerLink="/careers" class="footer-link"><strong>RECRUTEMENT</strong></a></li>
          <li><strong>CONTACT</strong></li>
        </ul>
      </div>
    </div>

    <hr class="footer-divider my-1">

    <div class="row text-white align-items-center pt-3">
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <i class="bx bxs-location-plus me-2"></i>
        <strong>5 Rue des Géraniums, 67310 Wasselonne</strong>
      </div>
      <div class="col-md-3 text-md-start mb-3 mb-md-0">
        <div class="d-flex align-items-center justify-content-center justify-content-md-start">
          <i class="bx bxs-phone me-2"></i>
         <a href="tel: 0388481090"><strong>03 88 48 10 90</strong></a>
        </div>
      </div>      
      <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
        <a routerLink="/terms-of-use" class="footer-link">Mentions Légales</a>      
      </div>
      <div class="col-md-2 text-center text-md-end">
        <a href="https://www.linkedin.com/company/alliance-service-propreté" target="_blank" class="footer-icon ms-3">
          <i class="bx bxl-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
