.footer {
  background-color: rgb(50, 71, 142);
  color: white;
}

.footer-links li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-icon {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-icon:hover {
  opacity: 0.8;
}

.white-logo {
  filter: brightness(0) invert(1);
}

.copyright {
  font-size: 0.7em;
}

.footer a {
  text-decoration: none;
  color: white;
}
