.navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  background-color: #1e90ff;
  border-radius: 20px;
  padding: 15px 20px;
}

.navbar {
  margin-top: 40px;
  padding: 0 100px;
}

.nav-link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
