  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="logo.png" alt="Alliance Service Propreté" style="width: 150px;">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center gap-3">
        <li class="nav-item">
          <a class="nav-link px-3 py-2" style="background-color: white; color: rgb(50,71,142);" routerLink="/services">Demander un devis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2" style="background-color: rgb(50,71,142); color: white;" routerLink="/about">Rejoignez-nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2" style="background-color: rgb(95,155,203); color: white;" routerLink="/contact">Contactez-nous</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
