<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/alliance-proprete">
      <img src="logo.png" alt="Alliance Services Propreté" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex gap-2 gap-lg-3">
        <li class="nav-item">
          <a class="nav-link px-3 py-2 quote" routerLink="/services" (click)="closeNavbar()">Demander un devis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2 join-us" routerLink="/careers" (click)="closeNavbar()">Rejoignez-nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 py-2 contact" routerLink="/contact" (click)="closeNavbar()">Contactez-nous</a>
        </li>
      </ul>
    </div>
  </div>
</nav>