.navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  background-color: #1e90ff;
  border-radius: 20px;
  padding: 15px 20px;
  user-select: none;
  text-decoration: none;
}

.navbar-nav .nav-link.quote {
  background-color: transparent;
  color: rgb(50, 71, 142);
}

.navbar-nav .nav-link.join-us {
  background-color: rgb(50, 71, 142);
  color: white;
}

.navbar-nav .nav-link.contact {
  background-color: rgb(95, 155, 203);
  color: white;
}

.navbar {
  margin-top: 40px;
  padding: 0 100px;
}

.nav-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.no-select {
  user-select: none;
}

.navbar-brand img {
  width: 150px;
  height: auto;
  transition: opacity 0.3s ease;
}

.navbar-brand img:hover {
  opacity: 0.8;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  margin-left: auto;
}

/* Responsive mobile adjustments */
@media (max-width: 600px) {
  .navbar {
    margin-top: 0;
    padding: 0 15px; // standard mobile side padding
  }

  .navbar-brand img {
    width: 100px;
  }

  .navbar-nav .nav-link {
    background-color: transparent !important;
    color: rgb(50, 71, 142) !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 10px 15px !important;
    text-decoration: none !important;
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar-nav .nav-link:hover {
    background-color: transparent !important;
    text-decoration: none !important;
  }
}
