.rse-section {
  .section-title {
    color: #2d4aa5;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  h3 {
    color: #2d4aa5;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    color: #333;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
  }

  .lead {
    font-weight: 500;
    font-size: 1.3rem;
    color: #2d4aa5;
  }
}
