<section class="sectors-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="section-title">Nos<br><b>secteurs</b></h2>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="sector-card">
          <i class='bx bx-package bx-lg'></i>
          <h4>Logistique</h4>
          <p>Nous assurons l’hygiène dans vos entrepôts et zones de stockage.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sector-card">
          <i class='bx bx-clinic bx-lg'></i>
          <h4>Médical, Clinique</h4>
          <p>Nous garantissons hygiène et conformité dans les établissements de santé.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sector-card">
          <i class='bx bx-food-menu bx-lg'></i>
          <h4>Agroalimentaire</h4>
          <p>Notre œil expert offre le plus respect des normes sanitaires.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sector-card">
          <i class='bx bx-home bx-lg'></i>
          <h4>Co-propriétés</h4>
          <p>Nous gèrons l'entretien des copropriétés, offrant propreté et confort aux résidents grâce à des services adaptés.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sector-card">
          <i class='bx bx-cog bx-lg'></i>
          <h4>Industriel</h4>
          <p>ASP offre aussi des solutions de nettoyage sur mesure pour le secteur industriel.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sector-card">
          <i class='bx bx-briefcase bx-lg'></i>
          <h4>Tertiaire</h4>
          <p>Nous mettons un point d'honneur pour offrir un environnement professionnel propre et agréable.</p>
        </div>
      </div>
    </div>
  </div>
</section>