.sector-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 350px;
  padding: 30px 20px;

  background-color: #f5f7fa;
  border-radius: 6px;

  text-align: center;
  font-size: 2.5rem;
  white-space: normal;
}

.sector-card h4 {
  color: #2d4aa5;
  font-weight: bold;
}

.sector-card p {
  color: #333;
  font-size: 1.2rem;
  margin-top: 10px;
}

.sector-card i {
  font-size: 4rem !important;
}