.terms-section {
  color: #333;

  h2.section-title {
    color: #2d4aa5;
    font-weight: bold;
  }

  .legal-block {
    margin-bottom: 2rem;

    h4 {
      color: #2d4aa5;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}
