h2 {
  font-size: 2.5rem;
  color: rgb(50, 71, 142);
}

section:not(.image-section, .services-section) {
  border-left: 0.5px solid rgb(50, 71, 142);
  border-right: 0.5px solid rgb(50, 71, 142);
  padding: 20px 0;
}

.section-title {
  font-size: 4.5rem;
}

.sector-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 350px;
  padding: 30px 20px;

  background-color: #f5f7fa;
  border-radius: 6px;

  text-align: center;
  font-size: 2.5rem;
  white-space: normal;
}

.sector-card h4 {
  color: #2d4aa5;
  font-weight: bold;
}

.sector-card p {
  color: #333;
  font-size: 1.2rem;
  margin-top: 10px;
}

.sector-card i {
  font-size: 4rem !important;
}

.chiffres-cles {
  text-transform: uppercase;
  background-color: rgb(95,155,203);
}

.chiffres-cles h1 {
  font-size: 5rem;
  font-weight: bold;
}

.services-section {
  background-color: rgb(50, 71, 142);
  color: white;
}

.scroll-wrapper {
  display: flex;
  justify-content: center;
}

.services-container {
  display: flex;
}

.service-card {
  font-size: 2em;
  margin: 1rem 1rem;
}


.actualites-section {
  color: rgb(50, 71, 142);
  background-color: #fff;
}

.news-card {
  overflow: hidden;
  border-radius: 0.5rem;
}

.news-card img {
  object-fit: cover;
  height: 100%;
  filter: brightness(0.6);
}

.news-overlay {
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0) 100%);
  border-radius: 0.5rem;
}

.news-overlay h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.news-overlay p {
  font-size: 0.9rem;
}

.btn-actualites {
  background-color: rgb(50, 71, 142);
  color: white;
  border: none;
  border-radius: 0; /* coins carrés */
  padding: 0.6rem 1.2rem;
}

.btn-lire-plus {
  background-color: white;
  border: none;
  border-radius: 0; /* coins carrés */
}

.btn-actualites:hover {
  background-color: #2f417d;
  color: white;
}

.footer {
  background-color: rgb(50, 71, 142);
  color: white;
}

.footer-links li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-icon {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-icon:hover {
  opacity: 0.8;
}

.white-logo {
  filter: brightness(0) invert(1);
}

.copyright {
  font-size: 0.7em;
}

@media (min-width: 768px) {
  .footer .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
